[submodule "vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nord-vim"]
	path = pack/themes/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "gruvbox"]
	path = pack/themes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dracula"]
	path = pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git
