[submodule "nord"]
	path = pack/themes/opt/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
