[submodule "nord"]
	path = pack/colors/opt/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vala"]
	path = pack/syntax/start/vala
	url = https://github.com/arrufat/vala.vim.git
